.definition-list{
    margin-top: .5rem;
}

.sc-input-select{
    width: 100%;
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid #707070;
    outline: none;
    margin-top: .5rem;
}

@media only screen and ( min-width:576px ){
    .sc-input-select{
        width: 70%;
    }
}

.sc-input-document{
    width: 100%;
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid #707070;
    outline: none;
    margin-top: .5rem;
}

@media only screen and ( min-width:576px ){
    .sc-input-document{
        width: 70%;
    }
}

.payment-option img{
    margin-bottom: 3px;
}
 